.displayName {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    mix-blend-mode: difference;
}

#kitty {
    bottom: 0;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    top: 0;
    object-fit: cover;
    position: absolute;
    display: block;
    z-index: -1;
}

.profile {
    background-size: cover;
    border-radius: 100px;
    height: 50px;
    width: 50px;
}

#refreshButton {
    background-color: #1DA1F2;
    background-image: url('/refresh.png');
    background-size: cover;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: 100px;
    right: 100px;
}

#tweet {
    background-color: #16202A;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 175px;
    padding: 10px 30px 0px;
    position: fixed;
    bottom: 50px;
    left: 100px;
    width: 400px;
}

.tweetText {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.userInfo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.username {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
}

.verification {
    margin-left: -10px;
}